<div ng-show="currentNode.roleId === 'websites'" ng-controller="WebsiteController as websiteCtrl">
    <div class="starter-template">
        <h1>Website management</h1>
        <p class="lead">Deploy your websites in seconds.</p>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h3 class="panel-title">Your websites:</h3></div>

        <div>

            <!-- Table -->
            <table class="table">
                <tr><th>Name</th><th>Url</th><th>Download Url</th><th>Port</th><th>Path</th></tr>
                <tr ng-repeat="website in websiteCtrl.websites track by $index">
                    <td><a href="#" ng-click="wsname = website.name">{{website.name}}</a></td>
                    <td><a href="http://localhost:{{website.port}}" target="_blank">http://localhost:{{website.port}}</a></td>
                    <td><a href="{{website.url}}">{{website.url}}</a></td><td>{{website.port}}</td>
                    <td>{{website.path}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
